/* Theme Parameter Toolbox: https://sdk.openui5.org/test-resources/sap/m/demokit/theming/webapp/index.html */

.hg-theme-default {
	background-color: @sapGroup_ContentBackground;
	border: 1px solid @sapGroup_ContentBorderColor;
	border-radius: @sapElement_BorderCornerRadius;
	font-family: @sapButton_FontFamily;
	color: @sapButton_TextColor !important;
}

.hg-theme-default .hg-button {
	font-family: @sapButton_FontFamily;
	color: @sapButton_TextColor !important;
	background: @sapButton_Background;
	border: 1px solid @sapButton_BorderColor;
	border-bottom: 1px solid @sapButton_BorderColor;
	border-radius: @sapButton_BorderCornerRadius;
	box-shadow: none;
	cursor: pointer;
	outline: inherit;
}

.hg-theme-default .hg-button:hover:not(.hg-activeButton) {
	background: @sapButton_Hover_Background;
	border: 1px solid @sapButton_Hover_BorderColor;
	color: @sapButton_Hover_TextColor;
}

.hg-theme-default .hg-button.hg-activeButton {
	background: @sapButton_Active_Background;
	border: 1px solid @sapButton_Active_BorderColor;
	color: @sapButton_Active_TextColor;
	-webkit-box-shadow: inset 0 0 0 1px @sapButton_Active_BorderColor;
	box-shadow: inset 0 0 0 1px @sapButton_Active_BorderColor;
}

.hg-theme-default .hg-button.hg-selectedButton {
	background: @sapButton_Selected_Background;
	border: 1px solid @sapButton_Selected_BorderColor;
	color: @sapButton_Selected_TextColor;
}

.touchKeyboardDisabled {
	opacity: 0.4;
	pointer-events: none;
}